<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>员工查询</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">高校人力资源管理系统</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:8080/index">首页 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>

    </div>
</nav>
<div class="p-3 mb-2 bg-dark text-dark">
    <div style="margin: 2% auto">
        <form class="form-inline my-2 my-lg-0" style="display: flex;justify-content: center">
            <input class="form-control mr-sm-2" type="search" aria-label="Search" style="width: 60%">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">查询</button>
        </form>
    </div>
    <div class="card" style="width: 80%;margin:1% auto">
        <div class="card-header">
            查询结果
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">姓名</th>
                    <th scope="col">部门</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="EmployeeArchives:${list}">
                        <td th:text="${EmployeeArchives.employeeId}" id="employeeId"></td>
                        <td th:text="${EmployeeArchives.employeeName}"></td>
                        <td th:text="${EmployeeArchives.employeeDepartment}"></td>
                        <td><button class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="xiuGai()">修改</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="http://localhost:8080/js/jquery-3.5.1.min.js"></script>
<script>
    function xiuGai() {
        var id =document.getElementById("employeeId").innerHTML;
        location.href="http://localhost:8080/employee_info_change?id="+id
    }
</script>
</body>
</html>