<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>员工录入</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">高校人力资源管理系统</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:8080/index">首页 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="p-3 mb-2 bg-dark text-dark">
<div class="card" style="width: 80%;margin:3% auto;">
    <div class="card-header">
        员工录入
    </div>
    <div class="card-body">
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputName">Name</label>
                    <input class="form-control" id="inputName">
                </div>
                <div class="form-group col-md-6">
                    <label>Sex</label>
                    <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">Woman</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">Man</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputBirthday">Birthday</label>
                <input type="date" class="form-control" id="inputBirthday">
            </div>
            <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Apartment, studio, or floor">
            </div>
            <div class="form-group">
                <label for="inputPhoneNumber">PhoneNumber</label>
                <input type="text" class="form-control" id="inputPhoneNumber">
            </div>
            <div class="form-group">
                <label for="inputDepartment">Department</label>
                <input type="text" class="form-control" id="inputDepartment">
            </div>
            <div class="form-group">
                <label for="FormControlSelect1">Education</label>
                <select class="form-control" id="FormControlSelect1">
                    <option>博士</option>
                    <option>本硕</option>
                    <option>其它</option>
                </select>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputPost">Post</label>
                    <input type="text" class="form-control" id="inputPost">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputTitle">Title</label>
                    <input type="text" class="form-control" id="inputTitle">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputTechnicalGrade">TechnicalGrade</label>
                    <input type="text" class="form-control" id="inputTechnicalGrade">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputIdentity">Identity</label>
                    <input type="text" class="form-control" id="inputIdentity">
                </div>
            </div>
            <div class="form-row">
                <button type="button" class="btn btn-primary" style="margin: 0 auto" onclick="submit_info()">Submit</button>
            </div>
        </form>
    </div>
</div>
</div>

<!--<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>-->
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    function submit_info(){
        var name = document.getElementById("inputName").value;
        var gender = document.getElementsByName("inlineRadioOptions");
        var birthday = document.getElementById("inputBirthday").value;
        var address = document.getElementById("inputAddress").value;
        var phone = document.getElementById("inputPhoneNumber").value;
        var department = document.getElementById("inputDepartment").value;
        var education = document.getElementById("FormControlSelect1").value;
        var post = document.getElementById("inputPost").value;
        var title = document.getElementById("inputTitle").value;
        var technicalGrade = document.getElementById("inputTechnicalGrade").value;
        var identity = document.getElementById("inputIdentity").value;
        var gender_checked;
        //便于转为json
        if(gender[0].checked){
            gender_checked = "Women";
        }else {
            gender_checked = "men";
        }

        var user={};
        user.name = name;
        user.gender = gender_checked;
        user.birthday = birthday;
        user.address = address;
        user.department = department;
        user.phone = phone;
        user.education = education;
        user.post = post;
        user.title = title;
        user.technicalGrade = technicalGrade;
        user.identity = identity;
        $.ajax({
            url:"http://localhost:8080/employee_info_import",
            type:"post",
            dataType:"json",
            data:JSON.stringify(user),
            contentType: "application/json;charset=UTF-8",
            success:function (data) {
                if(data.result == "pass"){
                    window.location="http://localhost:8080/index";
                }else {
                    alert("用户不存在或者信息有误！")
                }
            },
            error:function (data) {
                alert(JSON.stringify(data));
            }
        });
    }
</script>
</html>