<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="width: 100%;height: 100%">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>欢迎来到人力资源系统</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <script src = "https://cdn.jsdelivr.net/npm/chart.js@2.8.0" ></script>
    <![endif]-->
    <style>
        #list_f a{
            color: white;
            font-size: 20px;
        }
        #system_list a{
            color: black;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: none !important" onmouseover="mouse_over()" id="obave_list" onmouseleave="mouse_leave()">
    <a class="navbar-brand" href="#">高校人力资源管理系统</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" id="list_f">
            <li class="nav-item active">
                <a class="nav-link" href="#" style="color: white">首页 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" th:if="${logged}">
                <a class="nav-link" href="http://localhost:8080/employee_import">人员档案信息录入</a>
            </li>
            <li class="nav-item" th:if="${logged}">
                <a class="nav-link" href="http://localhost:8080/employee_search">员工搜索</a>
            </li>
            <li class="nav-item" th:if="${logged}">
                <a class="nav-link" href="http://localhost:8080/employee_management/info_analysis">信息分析</a>
            </li>
            <li class="nav-item" th:if="${logged}">
                <a class="nav-link" href="http://localhost:8080/to_contract_query">合同搜索</a>
            </li>

        </ul>
        <div th:if="${logged}">
            <ul class='nav navbar-nav navbar-right'>
                <li class='dropdown' id='my_test_id'>
                    <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false' style='color: black'><span th:text="${name}"></span><span class='caret'></span></a>
                    <ul class='dropdown-menu' style="margin: 0 0 0 -156%">
                        <li><a href='http://localhost:8080/logout' style='color: black'>登出</a></li>
                        <li><a href='http://localhost:8080/personalInfo' style="color: black" >个人信息</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div th:if="not ${logged}" style="display: flex; justify-content: center">
    <div class="card mt-5" style="width: 60%">
        <div class="card-header">
            权限不足
        </div>
        <br>
        <h1 style="display: flex;justify-content: center">未登录或不是二级人事助理账号，请登录二级人事助理账号</h1>
        <br>
        <a href="http://localhost:8080/personnel_login" style="display: flex;justify-content: center">去登录</a>
        <br>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="http://api.asilu.com/cdn/jquery.js,jquery.backstretch.min.js" type="text/javascript"></script>
<script type="text/javascript">
    //722x1536
    $.backstretch([
        'http://localhost:8080/images/background1.jpg',
        'http://localhost:8080/images/background2.jpg',
        'http://localhost:8080/images/background3.jpg',
        'http://localhost:8080/images/background4.jpg'
    ], {
        fade : 1000, // 动画时长
        duration : 2000 // 切换延时
    });
</script>
<script>
    function mouse_over() {
        document.getElementById("obave_list").style = "background: gray !important;";
    }
    function mouse_leave() {
        document.getElementById("obave_list").style = "background: none !important;";
    }
    function mouse_over1() {
        document.getElementById("under_list").style = "background: gray !important;margin: 43% 0 1% 0;";
    }
    function mouse_leave1() {
        document.getElementById("under_list").style = "background: none !important;margin: 43% 0 1% 0;";
    }
</script>
</body>
</html>