<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="width: 100%;height: 100%">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>欢迎来到人力资源系统</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <script src = "https://cdn.jsdelivr.net/npm/chart.js@2.8.0" ></script>
    <![endif]-->
    <script type="text/javascript">
        window.onload=function(){
            var cookie = document.cookie;
            if(cookie!=null){
                function getCookie(name){
                    var cookieObj={},
                        cookieSplit=[],
                        // 以分号（;）分组
                        cookieArr=document.cookie.split(";");
                    for(var i=0,len=cookieArr.length;i<len;i++)
                        if(cookieArr[i]) {
                            // 以等号（=）分组
                            cookieSplit=cookieArr[i].split("=");
                            // Trim() 是自定义的函数，用来删除字符串两边的空格
                            cookieObj[cookieSplit[0].trim()]=cookieSplit[1].trim();
                        }
                    return cookieObj[name];
                }
                var username = getCookie("name");
                var pro = " <div class='btn-group dropleft'>" +
                    "            <button class='btn btn-secondary dropdown-toggle' type='button' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' style='color: black'>\n" +
                                   username +
                    "            </button>\n" +
                    "            <div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>\n" +
                    "                <a class='dropdown-item' href='http://localhost:8080/logout' style='color: black'>登出</a>\n" +
                    "            </div>\n" +
                    "        </div>"
                document.getElementById("first").innerHTML= pro;
            }else{
                document.location = "http://localhost:8080/personnel_login";
            }
        }
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">高校人力资源管理系统</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:8080/index">首页 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
        <div class="dropdown" id="first">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                登录
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
</nav>

<!--中间工具层-->
<div style="width: 80%;height: 50%;margin: 5% auto">
    <div class="panel panel-default" style="width: 60%;;margin: 0 0 0 20%;border: none">
        <div class="panel-body" style="font-size: 30px">
            功能选择
        </div>
    </div>
    <table class="table table-bordered" style="width: 60%;height: 100%;margin: 0 0 0 20%">
        <tr>
            <td style="padding: 0;width: 272px;height: 251px;margin: 0">
                <div class="row" style="height: 100%;width: 100%;margin: 0;padding: 0">
                    <div class="col-xs-6 col-md-3" style="height: 100%;width: 100%;padding: 0">
                        <a href="http://localhost:8080/employee_import" class="thumbnail" style="height: 100%;width: 100%;padding: 0;border: 0;margin: 0">
                            <img th:src="@{/images/3.jpg}" alt="..." style="margin: 0">
                        </a>
                    </div>
                </div>
            </td>
            <td style="padding: 0;width: 272px;height: 251px">
                <div class="row" style="height: 100%;width: 100%;margin: 0;padding: 0">
                    <div class="col-xs-6 col-md-3" style="height: 100%;width: 100%;padding: 0">
                        <a href="http://localhost:8080/employee_search" class="thumbnail" style="height: 100%;width: 100%;padding: 0;border: 0;margin: 0">
                            <img th:src="@{/images/1.jpg}" alt="..." style="margin: 0">
                        </a>
                    </div>
                </div>
            </td>
            <td style="padding: 0;width: 272px;height: 251px">
                <div class="row" style="height: 100%;width: 100%;margin: 0;padding: 0">
                    <div class="col-xs-6 col-md-3" style="height: 100%;width: 100%;padding: 0">
                        <a href="#" class="thumbnail" style="height: 100%;width: 100%;padding: 0;border: 0;margin: 0">
                            <img th:src="@{/images/1.jpg}" alt="..." style="margin: 0">
                        </a>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding: 0;width: 272px;height: 251px">
                <div class="row" style="height: 100%;width: 100%;margin: 0;padding: 0">
                    <div class="col-xs-6 col-md-3" style="height: 100%;width: 100%;padding: 0">
                        <a href="#" class="thumbnail" style="height: 100%;width: 100%;padding: 0;border: 0;margin: 0">
                            <img th:src="@{/images/1.jpg}" alt="..." style="margin: 0">
                        </a>
                    </div>
                </div>
            </td>
            <td style="padding: 0;width: 272px;height: 251px;">
                <div class="row" style="height: 100%;width: 100%;margin: 0;padding: 0">
                    <div class="col-xs-6 col-md-3" style="height: 100%;width: 100%;padding: 0">
                        <a href="#" class="thumbnail" style="height: 100%;width: 272px;padding: 0;border: 0;margin: 0">
                            <img th:src="@{/images/1.jpg}" alt="..." style="margin: 0">
                        </a>
                    </div>
                </div>
            </td>
            <td style="padding: 0;width: 272px;height: 251px">
                <div class="row" style="height: 100%;width: 100%;margin: 0;padding: 0">
                    <div class="col-xs-6 col-md-3" style="height: 100%;width: 100%;padding: 0">
                        <a href="#" class="thumbnail" style="height: 100%;width: 100%;padding: 0;border: 0;margin: 0">
                            <img th:src="@{/images/1.jpg}" alt="..." style="margin: 0">
                        </a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>