<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>员工薪资管理</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">高校人力资源管理系统</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:8080/index">首页 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
        <div>
            <ul class='nav navbar-nav navbar-right'>
                <li class='dropdown' id='my_test_id'>
                    <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false' style='color: black'><span th:text="${name}"></span><span class='caret'></span></a>
                    <ul class='dropdown-menu' style="margin: 0 0 0 -156%">
                        <li><a href='http://localhost:8080/logout' style='color: black'>登出</a></li>

                        <li><a href='http://localhost:8080/personalInfo' style="color: black" >个人信息</a></li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div th:if="${logged}" style="display: flex; justify-content: center" >
    <div class="card mt-5" style="width: 60%">
        <div class="card-header">
            薪资管理
        </div>
        <div class="card-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="human_resource" data-toggle="tab" href="#hr_tab">员工薪资管理</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="research" data-toggle="tab" href="#research_tab">薪资发放记录</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact">预留</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="hr_tab">
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">姓名</th>
                            <th scope="col">部门</th>
                            <th scope="col">薪资水平</th>
                            <th scope="col">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="EmployeeArchives:${salaryMeters}">
                            <td th:text="${EmployeeArchives.employeeId}"></td>
                            <td th:text="${EmployeeArchives.employeeName}"></td>
                            <td th:text="${EmployeeArchives.employeeDepartment}"></td>
                            <td th:text="${EmployeeArchives.levelSalaryParameters}"></td>
                            <td>
                                <button class="btn btn-success" data-target="#salary_modal" data-toggle="modal" th:onclick="changeModal([[${EmployeeArchives.employeeId}]],[[${EmployeeArchives.employeeName}]],[[${EmployeeArchives.levelSalaryParameters}]]);">管理薪资</button>
                                <button class="btn btn-danger" th:onclick="distribute([[${EmployeeArchives.employeeId}]],[[${EmployeeArchives.levelSalaryParameters}]]);">发放薪资</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="research_tab" role="tabpanel" aria-labelledby="profile-tab"><table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">接收者ID</th>
                        <th scope="col">姓名</th>
                        <th scope="col">部门</th>
                        <th scope="col">发放金额</th>
                        <th scope="col">发放时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="salaryLog:${salaryLogs}">
                        <td th:text="${salaryLog.EmployeeArchives_employeeId}"></td>
                        <td th:text="${salaryLog.employeeName}"></td>
                        <td th:text="${salaryLog.employeeDepartment}"></td>
                        <td th:text="${salaryLog.amount}"></td>
                        <td th:text="${salaryLog.time}"></td>
                    </tr>
                    </tbody>
                </table>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">这里啥都没有</div>
            </div>
        </div>
    </div>
</div>
<div th:if="not ${logged}">请登录</div>

<div class="modal fade" id="salary_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">薪资水平调整</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="employeeId">员工ID</label>
                                <input id="employeeId" type="number" class="form-control" placeholder="00000" disabled>

                        </div>
                        <div class="col">
                            <label for="employeeName">员工姓名</label>
                                <input id="employeeName" type="text" class="form-control" placeholder="刘雨萱" disabled>
                        </div>
                    </div>
                    <label for="employeeSalaryLevel">薪资水平</label>
                    <input id="employeeSalaryLevel" type="text" class="form-control" placeholder="刘雨萱">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="changeLevel()">提交</button>
            </div>
        </div>
    </div>
</div>


<script src="http://localhost:8080/js/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script>
    function changeModal(employeeId, employeeName, salaryLevel) {
        document.getElementById("employeeId").setAttribute("value", employeeId);
        document.getElementById("employeeName").setAttribute("value", employeeName);
        document.getElementById("employeeSalaryLevel").setAttribute("value", salaryLevel);
    }

    function changeLevel(){
        let changeData = new FormData();
        changeData.append("employeeId", document.getElementById("employeeId").value);
        changeData.append("salaryLevel", document.getElementById("employeeSalaryLevel").value);

        fetch("/salaryMgt", {
            method: "POST",
            body: changeData,
        }).then(
            (res) => {
                return  res.json();
            }
        ).then(
            (jsonRes) => {
                if (jsonRes.changeResult){
                    alert("修改成功");
                    location.reload();
                }else {
                    alert("修改失败");
                }
            }
        )
    }

    function distribute(id, level){
        fetch("/distribute?id=" + id + "&level=" + level).then(
            (res) => {
                return res.json();
            }
        ).then(
            (json) => {
                if(json.res){
                    alert("薪资发放成功");
                    location.reload();
                }else alert("薪资发放失败");
            }
        )
    }
</script>
</body>
</html>